*{
    padding: 0;
    margin: 0;

    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #363636;
}

.text-p{
    padding: 4px 20px;
    background-color: #464646;
    margin: 5px 0px;

    height: 20px;
}

.focus-p{
    background-color: #906565;
}

.focus-p::after{
    content: "|";
}

#console{
    background-color: aqua;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#console:hover{
    background-color: aquamarine;
}

.options{
    padding: 5px 20px;
}

#btn-update{
    background-color: #464646;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#btn-update:hover{
    background-color: #909090;
}

#input-ip-node{
    background-color: #464646;
    border: none;
    border-radius: 5px;
    padding: 10px;
}